body {
  margin: 0;
  font-family: 'Roboto' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #edf1f4;
  overflow-y: scroll;
}

body div::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body div::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
body div::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 50px;
}

/* Handle on hover */
body div::-webkit-scrollbar-thumb:hover {
  background: #cbcbcb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root{
  height: 100%;
}